@model PromocaoViewModel
@{
    ViewData["Title"] = "Form";
}

<h2>Form</h2>

<h2>Cadastro de Promoções</h2>

<div class="row">
    <div class="col-lg-3">
        <form action="Salvar" method="post" enctype="multipart/form-data">

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <label for="Id" class="control-label">Id</label>

            @if (ViewBag.Operacao == "I")
            {
                <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
            }
            else
            {
                <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly />
            }

            <br />

            <br />
            <label for="Nome" class="control-label">Nome</label>
            <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <br />
            <label for="DataInicio" class="control-label">Data de Inicio</label>
            <input type="text" Name="DataInicio" value="@Model.DataInicio" class="form-control" />
            <span asp-validation-for="DataInicio" class="text-danger"></span>

            <br />
            <label for="DataFim" class="control-label">Data de Fim da Promoção</label>
            <input type="text" Name="DataFim" value="@Model.DataFim" class="form-control" />
            <span asp-validation-for="DataFim" class="text-danger"></span>

            <label for="Carimbos" class="control-label">Quantidade de Carimbos</label>
            <input type="text" Name="Carimbos" value="@Model.Carimbos" class="form-control" />
            <span asp-validation-for="Carimbos" class="text-danger"></span>

            <br />
            <label for="IdMestre" class="control-label">Id da Empresa</label>
            <select asp-for="IdMestre" asp-items="ViewBag.Empresas" class="form-control"></select>
            <span asp-validation-for="IdMestre" class="text-danger"></span>

            <br />
            <input type="submit" value="Salvar dados" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
